{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="mb-3 font-weight-normal" id="howto">
    <h1>ABOUT</h1>
    <p>This web application is designed for kids to help them memorize poetry.
        The website is created by Arina Khokhlova as her final project for <a href="https://cs50.harvard.edu/" class="text-decoration-none">CS50 class by Harvard.</a>
    You can send me an <a href="mailto:khokhlova.arina.v@gmail.com" target="_blank" class="text-decoration-none">e-mail</a>.</p>
        <br>
    <p>Cute elephant on the main page belongs to <a href="https://ru.freepik.com/free-vector/different-cute-illustrated-animals-collection_5328972.htm#query=cute%20lion&position=8&from_view=keyword&track=ais" class="text-decoration-none">Freepik</a></p>
</div>
{% endblock %}