{% extends "layout.html" %}

{% block title %}
    How To
{% endblock %}

{% block main %}
    <div class="mb-3 font-weight-normal" id="howto">
        <h1>How to use LEARNBYHEART</h1>
        <p class="lead">This is a simple web application for kids to help them memorize poetry for kindergarten, or school, or just for fun!</p>
        <br>
        <p>1. Type in the poem you want to learn into the white block on the main page. Make sure to keep indentation: <em>each line of the poem should be on the separeate line!</em> The application won't work, if you type in the poem as one long paragraph</p>
        <p>2. Click on the orange 'Learn' button</p>
        <p>3. There will be 4 cards on the screen. Hover your mouse over a card to flip it over and read a part of the poem. Move the mouse away to check yourself and try to recite the part of the poem</p>
        <p>4. Keep flipping the cards until you learn the poem!</p>
    </div>
{% endblock %}